{% macro navbar(active_page=None) %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid px-3 px-md-4">
        <a class="navbar-brand fw-bold" href="/">Jukeplayer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'library' %}active{% endif %}" href="/library/artists">Music Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'albums' %}active{% endif %}" href="/albums">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'encoding' %}active{% endif %}" href="/nfc">Encoding Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'player' %}active{% endif %}" href="/status">Player</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endmacro %}
